# Unreal Engine
Saved/
Intermediate/
DerivedDataCache/
Build/Android/*
.vscode/
*.suo
*.user
*.userprefs
*.opensdf
*.sdf
*.tmp
*.log
*.vs/
stageVFX/Saved/
stageVFX/Intermediate/
stageVFX/DerivedDataCache/

